version: "3.4"
services:

  zookeeper:
    image: solsson/kafka:2.1.1@sha256:8bc8242c649c395ab79d76cc83b1052e63b4efea7f83547bf11eb3ef5ea6f8e1
    entrypoint: ./bin/zookeeper-server-start.sh
    command:
    - ./config/zookeeper.properties

  kafka:
    image: solsson/kafka:2.1.1@sha256:8bc8242c649c395ab79d76cc83b1052e63b4efea7f83547bf11eb3ef5ea6f8e1
    links:
    - zookeeper
    entrypoint:
    - ./bin/kafka-server-start.sh
    - ./config/server.properties
    - --override
    -   zookeeper.connect=zookeeper:2181
    - --override
    -   log.retention.hours=-1
    - --override
    -   log.dirs=/var/lib/kafka/data/topics
    - --override
    -   default.replication.factor=1
    - --override
    -   min.insync.replicas=1
    - --override
    -   offsets.retention.minutes=10080
    # For access from dev environment
    - --override
    -   listeners=OUTSIDE://:19092,PLAINTEXT://:9092
    - --override
    -   advertised.listeners=OUTSIDE://localhost:19092,PLAINTEXT://:9092
    - --override
    -   listener.security.protocol.map=PLAINTEXT:PLAINTEXT,OUTSIDE:PLAINTEXT
    - --override
    -   inter.broker.listener.name=PLAINTEXT
    ports:
    - 19092:19092

  destination-zookeeper:
    image: solsson/kafka:2.1.1@sha256:8bc8242c649c395ab79d76cc83b1052e63b4efea7f83547bf11eb3ef5ea6f8e1
    entrypoint: ./bin/zookeeper-server-start.sh
    command:
    - ./config/zookeeper.properties

  destination-kafka:
    image: solsson/kafka:2.1.1@sha256:8bc8242c649c395ab79d76cc83b1052e63b4efea7f83547bf11eb3ef5ea6f8e1
    links:
    - destination-zookeeper
    entrypoint:
    - ./bin/kafka-server-start.sh
    - ./config/server.properties
    - --override
    -   zookeeper.connect=destination-zookeeper:2181
    - --override
    -   log.retention.hours=-1
    - --override
    -   log.dirs=/var/lib/kafka/data/topics
    - --override
    -   default.replication.factor=1
    - --override
    -   min.insync.replicas=1
    - --override
    -   offsets.retention.minutes=10080
    # For access from dev environment
    - --override
    -   listeners=OUTSIDE://:19192,PLAINTEXT://:9092
    - --override
    -   advertised.listeners=OUTSIDE://localhost:19192,PLAINTEXT://:9092
    - --override
    -   listener.security.protocol.map=PLAINTEXT:PLAINTEXT,OUTSIDE:PLAINTEXT
    - --override
    -   inter.broker.listener.name=PLAINTEXT
    ports:
    - 19192:19192

  topic1-create:
    image: solsson/kafka:2.1.1@sha256:8bc8242c649c395ab79d76cc83b1052e63b4efea7f83547bf11eb3ef5ea6f8e1
    depends_on:
    - kafka
    entrypoint:
    - ./bin/kafka-topics.sh
    command:
    - --zookeeper
    -   zookeeper:2181
    - --topic
    -   topic1
    - --create
    - --if-not-exists
    - --partitions
    -   '3'
    - --replication-factor
    -   '1'

  destination-topic2-create:
    image: solsson/kafka:2.1.1@sha256:8bc8242c649c395ab79d76cc83b1052e63b4efea7f83547bf11eb3ef5ea6f8e1
    depends_on:
    - destination-kafka
    entrypoint:
    - ./bin/kafka-topics.sh
    command:
    - --zookeeper
    -   destination-zookeeper:2181
    - --topic
    -   topic2
    - --create
    - --if-not-exists
    - --partitions
    -   '3'
    - --replication-factor
    -   '1'

  copy1:
    image: yolean/quarkus-kafka:dev
    depends_on:
    - kafka
    - destination-kafka
    labels:
    - com.yolean.build-target
    environment:
    - GROUP_ID=copy1
    - SOURCE_BOOTSTRAP=kafka:9092
    - SOURCE_TOPICS=topic1
    - TARGET_BOOTSTRAP=destination-kafka:9092
    - TARGET_TOPIC=topic2
    # You probably want "none" (the default) or "earliest" in production
    - AUTO_OFFSET_RESET=latest
    # Required for tests below
    - PARTITION_PRESERVE=true
    ports:
    - 8080:8080

  test1:
    image: solsson/kafkacat-curl@sha256:524fde292beb0ea8c2afa7211bf5571b6ab163bec7a123dceeb85e7ba21acc50
    labels:
    - com.yolean.build-contract
    depends_on:
    - copy1
    entrypoint:
    - /bin/bash
    - -ce
    command:
    - |
      # create topic / verify topic existence
      until kafkacat -b kafka:9092 -C -K '=' -t topic1 -o -1 -e; do sleep 3; done
      until kafkacat -b destination-kafka:9092 -C -K '=' -t topic2 -o -1 -e; do sleep 3; done
      curl -s http://copy1:8080/healthz
      # produce to source topic
      now=$$(date --iso-8601=ns)
      echo "Now: $$now"
      echo "test1=$$now" | kafkacat -b kafka:9092 -P -K '=' -t topic1 -p 0
      # consume, after some wait (can we use kafkacat to ignore old messages and avoid the wait?)
      sleep 1
      curl -s http://copy1:8080/metrics
      kafkacat -b destination-kafka:9092 -C -K '=' -t topic2 -o -3 -e
      consumed=$$(kafkacat -b destination-kafka:9092 -C -K '=' -t topic2 -p 0 -o -1 -e)
      echo "Consumed: $$consumed"
      [ "$$consumed" == "test1=$$now" ] || exit 1
      # copare timestamps
      producedT=$$(kafkacat -b kafka:9092 -C -K '=' -t topic1 -p 0 -o -1 -e -f '%T')
      consumedT=$$(kafkacat -b destination-kafka:9092 -C -K '=' -t topic2 -p 0 -o -1 -e -f '%T')
      echo "$$producedT <> $$consumedT ?" && [ "$$producedT" == "$$consumedT" ] || exit 2
      curl -s http://copy1:8080/metrics
      echo "--- End of test ---"
